[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
snakeviz = "*"
flake8 = "*"
pytest = "*"

[packages]
apq = {path = "./../apq/dist/apq-0.6-cp37-cp37m-linux_x86_64.whl"}
bjec = {editable = true,path = "./../../bjec"}
typing-extensions = "*"
orjson = "*"
sortedcontainers = "*"

[requires]
python_version = "3.7"
