[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"

[packages]
bjec = {editable = true,path = "./../../bjec",extras = ["htcondor"]}
simulator = {editable = true,path = "."}

[requires]
python_version = "3.7"
